@import url(_reset.scss);

* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    overflow-x: hidden;
    background-color: #ffffff;
    font-family:'Montserrat';
    font-size: 12px;
    background: url('/img/фон.jpg');
}

.wrapper {
    position: relative;
    max-width: 1922px;
    margin: 0 auto;
}
hr {
    color: #7A7A7A;
 }
.container {
    position: relative;
    max-width: 1602px;
    margin: 0 auto;
    .first__header {
        height: 62px;
        color: #7A7A7A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .location>.fa-location-dot {
            padding-right: 5px;
        }
        .first__header-phone>.fa-phone {
            padding-right: 5px;
        }
        .first__header-nav-link {
            padding-right: 10px;
            &:last-child {
                padding-right: none;
            }
        }
    }
}
.second__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 116px;
    .icons>i {
        font-size: 17px;
        padding-right: 20px;
        &:last-child {
            padding-right: 0px;
        }
    }
    .second__header-nav {
        position: absolute;
        left: 2%;
        .second__header-link{
            padding-right: 7px;
            &:last-child {
                padding-right: none;
            }
        }
    }
    .rosso__logo {
        position: absolute;
        left: 40%;
    }
}
.block__one-img {
    // display: none;
    position: absolute;
    left: -2.5%;
}
.block__one {
    position: relative;
}
.block__one-title {
    position: absolute;
    top:150px;
    left: 40%;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    color: #444444;
    padding-bottom: 50px;
}
.block__one-title::after {
    content:'';
    display: block;
    background:#7A7A7A;
    height: 1px;
    width: 160%;
    position: absolute;
    left: -6%;
    top: 150%;
}
.block__one-title::before {
    content:'';
    display: block;
    background:#7A7A7A;
    height: 510%;
    width: 1px;
    position: absolute;
    right: -10%;
    top:-97.5%;
    
}

.block__one-descr-text {
    padding-top: 400PX;
    width: 558PX;
    height: 108px;
    position: absolute;
    right: 15%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #444444;
}
.dark__grey {
    position: absolute;
    bottom:0%;
    top:100%;
    left: 37.5%;
    margin-top: 785px;
    width: 1100px;
    height: 120px;
    color:#ffffff;
    background:#444444;
}
.dark__grey-link {
    position: absolute;
    left: 80%;
    top: 35%;
    padding-right: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: right;
    color: #FFFFFF;
}
.dark__grey-link>i {
    padding-left: 5px;
}