@import url(_reset.scss);

* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color: #ffffff;
    font-family:'Montserrat';
    font-size: 12px;
}

.wrapper {
    max-width: 1922px;
    margin: 0 auto;
}

.container {
    max-width: 1602px;
    margin: 0 auto;
    background-color: black;
}